**.exe
**/tempCodeRunnerFile.cpp
**/.DS_Store
.vscode/
.cache/
build/
cmake-build-debug/
cmake-build-release/
.idea/

DummyEngine/Presets

Sandbox/imgui.ini
Sandbox/DummyEditor
Sandbox/Logs/**
Sandbox/Cache/**
Sandbox/**.dll
Sandbox/**.a
Sandbox/**.dylib
Sandbox/**.so**
Sandbox/*.yml

