[submodule "Dependencies/GLM"]
	path = Dependencies/GLM
	url = https://github.com/g-truc/glm
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/glfw/glfw
[submodule "Dependencies/STB_IMAGE"]
	path = Dependencies/STB_IMAGE
	url = https://github.com/nothings/stb
[submodule "Dependencies/YAML"]
	path = Dependencies/YAML
	url = https://github.com/jbeder/yaml-cpp
[submodule "Dependencies/ASSIMP"]
	path = Dependencies/ASSIMP
	url = https://github.com/assimp/assimp
[submodule "Dependencies/GLAD"]
	path = Dependencies/GLAD
	url = https://github.com/Mag1str02/GLAD
[submodule "Dependencies/IMGUI"]
	path = Dependencies/IMGUI
	url = https://github.com/Mag1str02/DummyEngine_ImGui
[submodule "Dependencies/NFD"]
	path = Dependencies/NFD
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "Dependencies/TRACY"]
	path = Dependencies/TRACY
	url = https://github.com/Mag1str02/Tracy-Profiler
	branch = client_only_0.11.1
