[submodule "src/DummyEngine/Libs/GLM"]
	path = src/DummyEngine/Libs/GLM
	url = https://github.com/g-truc/glm
[submodule "src/DummyEngine/Libs/GLFW"]
	path = src/DummyEngine/Libs/GLFW
	url = https://github.com/glfw/glfw
[submodule "src/DummyEngine/Libs/STB_IMAGE"]
	path = src/DummyEngine/Libs/STB_IMAGE
	url = https://github.com/nothings/stb
[submodule "src/DummyEngine/Libs/GLAD"]
	path = src/DummyEngine/Libs/GLAD
	url = https://github.com/Dav1dde/glad
[submodule "src/DummyEngine/Libs/YAML"]
	path = src/DummyEngine/Libs/YAML
	url = https://github.com/jbeder/yaml-cpp
[submodule "src/DummyEngine/Libs/IMGUI/ImGui"]
	path = src/DummyEngine/Libs/IMGUI/ImGui
	url = https://github.com/ocornut/imgui
