**.exe
**/tempCodeRunnerFile.cpp

.vscode/
.cache/
build/
cmake-build-debug/
cmake-build-release/
.idea/

DummyEngine/Presets

Sandbox/imgui.ini
Sandbox/DummyEditor
Sandbox/TestASAN
Sandbox/TestLSAN
Sandbox/TestMSAN
Sandbox/TestTSAN
Sandbox/Logs/**
Sandbox/Cache/**
Sandbox/**.dll
Sandbox/**.a
Sandbox/**.dylib
Sandbox/**.so**
Sandbox/*.yml

Config.cmake