**.exe
**/tempCodeRunnerFile.cpp

.vscode/
.cache/
build/
cmake-build-debug/
cmake-build-release/

Sandbox/imgui.ini
Sandbox/DummyEditor
Sandbox/Logs/**
Sandbox/Cache/**
Sandbox/**.dll
Sandbox/**.dylib
Sandbox/**.so**
Sandbox/*.yml

