[submodule "DummyEngine/Libs/GLM"]
	path = DummyEngine/Libs/GLM
	url = https://github.com/g-truc/glm
[submodule "DummyEngine/Libs/GLFW"]
	path = DummyEngine/Libs/GLFW
	url = https://github.com/glfw/glfw
[submodule "DummyEngine/Libs/STB_IMAGE"]
	path = DummyEngine/Libs/STB_IMAGE
	url = https://github.com/nothings/stb
[submodule "DummyEngine/Libs/YAML"]
	path = DummyEngine/Libs/YAML
	url = https://github.com/jbeder/yaml-cpp
[submodule "DummyEngine/Libs/ASSIMP"]
	path = DummyEngine/Libs/ASSIMP
	url = https://github.com/assimp/assimp
[submodule "DummyEngine/Libs/GLAD"]
	path = DummyEngine/Libs/GLAD
	url = https://github.com/Mag1str02/GLAD
[submodule "DummyEngine/Libs/IMGUI"]
	path = DummyEngine/Libs/IMGUI
	url = https://github.com/Mag1str02/DummyEngine_ImGui
[submodule "DummyEngine/Libs/NFD"]
	path = DummyEngine/Libs/NFD
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "DummyEngine/Libs/openAL"]
	path = DummyEngine/Libs/openAL
	url = https://github.com/kcat/openal-soft.git
